@import url(https://fonts.googleapis.com/css?family=Varela);

.glitch {
  font-family: 'Varela', sans-serif;
  line-height: 1;
  /* text-shadow: 0 0 5px #fff, 0 0 10px blue, 0 0 20px blue; */
  color: white;
  /* font-size: 100px; */
  position: relative;
  /* width: 400px; */
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(53px, 9999px, 95px, 0);
  }
  5% {
    clip: rect(88px, 9999px, 18px, 0);
  }
  10% {
    clip: rect(69px, 9999px, 13px, 0);
  }
  15% {
    clip: rect(54px, 9999px, 99px, 0);
  }
  20% {
    clip: rect(92px, 9999px, 37px, 0);
  }
  25% {
    clip: rect(60px, 9999px, 24px, 0);
  }
  30% {
    clip: rect(27px, 9999px, 7px, 0);
  }
  35% {
    clip: rect(42px, 9999px, 44px, 0);
  }
  40% {
    clip: rect(47px, 9999px, 45px, 0);
  }
  45% {
    clip: rect(69px, 9999px, 67px, 0);
  }
  50% {
    clip: rect(81px, 9999px, 65px, 0);
  }
  55% {
    clip: rect(69px, 9999px, 60px, 0);
  }
  60% {
    clip: rect(64px, 9999px, 27px, 0);
  }
  65% {
    clip: rect(3px, 9999px, 3px, 0);
  }
  70% {
    clip: rect(49px, 9999px, 10px, 0);
  }
  75% {
    clip: rect(55px, 9999px, 47px, 0);
  }
  80% {
    clip: rect(76px, 9999px, 19px, 0);
  }
  85% {
    clip: rect(47px, 9999px, 72px, 0);
  }
  90% {
    clip: rect(84px, 9999px, 21px, 0);
  }
  95% {
    clip: rect(13px, 9999px, 88px, 0);
  }
  100% {
    clip: rect(63px, 9999px, 67px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  /* text-shadow: -1px 0 red; */
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  /* animation: noise-anim 2s infinite linear alternate-reverse; */
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(25px, 9999px, 88px, 0);
  }
  5% {
    clip: rect(28px, 9999px, 69px, 0);
  }
  10% {
    clip: rect(44px, 9999px, 3px, 0);
  }
  15% {
    clip: rect(25px, 9999px, 39px, 0);
  }
  20% {
    clip: rect(69px, 9999px, 53px, 0);
  }
  25% {
    clip: rect(84px, 9999px, 79px, 0);
  }
  30% {
    clip: rect(51px, 9999px, 54px, 0);
  }
  35% {
    clip: rect(3px, 9999px, 44px, 0);
  }
  40% {
    clip: rect(76px, 9999px, 56px, 0);
  }
  45% {
    clip: rect(92px, 9999px, 80px, 0);
  }
  50% {
    clip: rect(9px, 9999px, 21px, 0);
  }
  55% {
    clip: rect(52px, 9999px, 23px, 0);
  }
  60% {
    clip: rect(85px, 9999px, 26px, 0);
  }
  65% {
    clip: rect(71px, 9999px, 18px, 0);
  }
  70% {
    clip: rect(8px, 9999px, 38px, 0);
  }
  75% {
    clip: rect(87px, 9999px, 13px, 0);
  }
  80% {
    clip: rect(34px, 9999px, 52px, 0);
  }
  85% {
    clip: rect(100px, 9999px, 60px, 0);
  }
  90% {
    clip: rect(43px, 9999px, 93px, 0);
  }
  95% {
    clip: rect(21px, 9999px, 48px, 0);
  }
  100% {
    clip: rect(31px, 9999px, 70px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  /* text-shadow: 1px 0 blue; */
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  /* animation: noise-anim-2 3s infinite linear alternate-reverse; */
}
