/* @import url(https://fonts.googleapis.com/css?family=Orbitron);
body {
  background-color: #111;
  font-family: 'Orbitron', courier, sans-serif;
}

p {
  margin-top: 3em;
  font-size: 2em;
}

h1 {
  font-size: 5em;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
} */

.glow {
  /* text-align: center; */
  color: rgba(255, 255, 255, 0.3);
  text-shadow: 0 0 1px rgba(157, 208, 154, 0.3);
  /* Stripes */
  /*Fallback:
http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html
*/
  background: -webkit-linear-gradient(transparent, transparent), url(https://i.imgur.com/WyMyxQ6.png) repeat;
  /* clipping webkit magic */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Animation */
  -webkit-animation: glow 3s infinite alternate;
  -moz-animation: glow 3s infinite alternate;
  animation: glow 3s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(1, 0.3, 0.79, 0.81);
  -moz-animation-timing-function: cubic-bezier(1, 0.3, 0.79, 0.81);
  animation-timing-function: cubic-bezier(1, 0.3, 0.79, 0.81);
}

@-webkit-keyframes glow {
  0% {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1), 0 0 3px rgba(255, 255, 255, 0.1), 0 0 5px rgba(157, 208, 154, 0.3);
  }
  50% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px rgba(255, 255, 255, 0.1);
  }
  52% {
    text-shadow: 0 0 5px rgba(157, 208, 154, 0.3);
  }
  54% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px rgba(255, 255, 255, 0.1);
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px rgba(255, 255, 255, 0.1), 0 0 10px rgba(157, 208, 154, 0.3), 0 0 10px rgba(157, 208, 154, 0.3), 0 0 10px rgba(157, 208, 154, 0.3), 0 0 10px rgba(157, 208, 154, 0.3);
  }
}
@-moz-keyframes glow {
  0% {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1), 0 0 3px rgba(255, 255, 255, 0.1), 0 0 5px rgba(157, 208, 154, 0.3);
  }
  50% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px rgba(255, 255, 255, 0.1);
  }
  52% {
    text-shadow: 0 0 5px rgba(157, 208, 154, 0.3);
  }
  54% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px rgba(255, 255, 255, 0.1);
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px rgba(255, 255, 255, 0.1), 0 0 10px rgba(157, 208, 154, 0.3);
  }
}
@keyframes glow {
  0% {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1), 0 0 3px rgba(255, 255, 255, 0.1), 0 0 5px rgba(157, 208, 154, 0.3);
  }
  50% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px rgba(255, 255, 255, 0.1);
  }
  52% {
    text-shadow: 0 0 5px rgba(157, 208, 154, 0.3);
  }
  54% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px rgba(255, 255, 255, 0.1);
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px rgba(255, 255, 255, 0.1), 0 0 10px rgba(157, 208, 154, 0.3);
  }
}
