@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Varela);
@import url(https://fonts.googleapis.com/css?family=Electrolize);

@font-face {
  font-family: 'Linebeam';
  src: url('../webfonts/Linebeam.ttf') format('truetype');
}
@font-face {
  font-family: 'Alien';
  src: url('../webfonts/Alien-Encounters-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Tetris';
  src: url('../webfonts/Tetris.ttf') format('truetype');
}
@font-face {
  font-family: 'twolines';
  src: url('../webfonts/2lines.ttf') format('truetype');
}
@font-face {
  font-family: 'element';
  src: url('../webfonts/dsterm.ttf') format('truetype');
}
@font-face {
  font-family: 'square';
  src: url('../webfonts/square23.ttf') format('truetype');
}

/* Color Scheme */
.mag_bright { color: #FF69B4; }
.cyan_bright { }
/* p,h1 { color: #81a2be; } */
body {
  color: #fff;
  overflow-x: hidden;
}

.neon-cya {
  /* text-shadow: 0 0 5px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080; */
  /* text-shadow: 0 0 5px #fff, 0 0 20px cyan, 0 0 30px cyan; */
  /* text-shadow: 0 0 5px #fff, 0 0 10px cyan, 0 0 20px cyan; */
}
.neon-blu {
  /* text-shadow: 0 0 5px #fff, 0 0 10px blue, 0 0 20px blue; */
}

.neon-mag {
    /* text-shadow: 0 0 5px #fff, 0 0 10px magenta; */
}

.p-main {
  font-size: 1.5em;
}

html {
  /* height: 10000px; */
}
body {
  /* background: black; */
  /* font-family: 'Varela', sans-serif; */
  font-family: 'Electrolize', sans-serif;

  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
    background-color: #0F1C21;
    background-image:linear-gradient(#0F1C21, #180010);
}
#grid{
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  height: 100%;
  background-size:80px 80px;
}

.full-view {
  height: 100vh;
  width: 100vw;
  position: relative;
}

/* Vignette */
body:after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0; left: 0;
  box-shadow: inset 0px 0px 300px black;
}

/* body:after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, transparent 80%, black 110%);
} */

.mb-250 { margin-bottom: 250px !important; }
.mb-200 { margin-bottom: 200px !important; }
.mb-100 { margin-bottom: 100px !important; }
.mb-50  { margin-bottom: 50px !important; }

.mt-50  { margin-top: 50px !important; }

.pb-300 { padding-bottom: 300px !important; }

.my-100 { margin-top: 100px !important; margin-bottom: 100px !important; }
.py-200 { padding-top: 200px; padding-bottom: 200px; }

.border-1 { border: 2px solid red; }
.border-2 { border: 2px solid blue; }

.animation-delay-200 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

/******************************************/

.head-title  {
  color: #fff;
  /* font-family: 'Orbitron', courier, sans-serif; */
  font-family: 'square';
  font-size: 3.5em;
}

.head-title span {
  font-family: 'Tetris';
  font-size: 0.5em;
}

/*  */

#background {
  /* display: none; */
}

/*  */

.resume-link {
  color: white;
  text-decoration: none;

  transition: text-shadow 0.2s linear; /* vendorless fallback */
  -o-transition: text-shadow 0.2s linear; /* opera */
  -ms-transition: text-shadow 0.2s linear; /* IE 10 */
  -moz-transition: text-shadow 0.2s linear; /* Firefox */
  -webkit-transition: text-shadow 0.2s linear; /*safari and chrome */
}

.resume-link:hover {
  color: white;
  text-decoration: none;
  /* text-shadow: 0 0 5px #fff, 0 0 10px magenta, 0 0 10px magenta, 0 0 10px magenta, 0 0 10px magenta; */
  text-shadow: 0 0 5px #fff, 0 0 10px blue, 0 0 10px blue, 0 0 10px blue, 0 0 10px blue;
}

/*  */

#areas .area-icn-big .fas {
  font-size: 40px;
}

.fa-space-shuttle {
  cursor: pointer;
}

.area-icn-sml {
  font-size: 20px;
  margin-right: 15px;
  display: none;
}

/*  */

.skills-list span {
  display: block;
}

/*  */

.proj-img-div-div {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

/* .proj-img-div-div.comingsoon::before {
  content: '';
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.proj-img-div-div.comingsoon::after {
  content: 'COMING SOON';
  font-size: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
} */

.proj-img-div img {
  cursor: pointer;
  /* display: none; */
  /* display: block; */
  /* margin: auto; */
}

.coming-soon {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  /* top: 50%; */
  /* transform: translateX(-50%); */
  background-color: rgba(0,0,0,0.9);
}

.coming-soon.show{
  display: inline-block;
}

.coming-soon span {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  width: 380px;
  text-align: center;
  position: absolute;
  top: 50%;
  color: #888;
  transform: translateY(-50%);
}

.proj-tech span {
  margin: 15px 10px;
  padding: 3px 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #00D10A;
  color: #00D10A;
  box-shadow: 0 0 3px 1px #00D10A, inset 0 0 3px 1px #00D10A;
  cursor: default;

  transition: box-shadow 0.2s linear; /* vendorless fallback */
  -o-transition: box-shadow 0.2s linear; /* opera */
  -ms-transition: box-shadow 0.2s linear; /* IE 10 */
  -moz-transition: box-shadow 0.2s linear; /* Firefox */
  -webkit-transition: box-shadow 0.2s linear; /*safari and chrome */
}

.proj-tech span:hover {
  box-shadow: 0 0 10px 2px #00D10A, inset 0 0 10px 1px #00D10A;
}

/* project preview */

.proj-details {
  height: 0;
  overflow: hidden;
  /* height: 500px; */
  background-color: rgba(0,0,0,0.8);
  position: relative;
  z-index: 1;
}

.proj-img-long {
  height: 450px;
  width: 350px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
}

/* fade out bottom of image */
/* .proj-img-long::after {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(10,10,10) 100%);
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  content: '';
} */

.footer {
  background-color: #010101;
  padding: 50px 0px;
  margin-top: 200px;
  position: relative;
  z-index: 99;
}

.footer img {
  height:30px;
  padding-bottom:3px;
}

/* .box-glow:after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0; left: 0;
  box-shadow: inset 0 0 10px 2px #00D10A;
} */




/******************************************/

@media only screen and (max-width: 1200px) {
  .head-title { font-size: 3em; }
}

@media only screen and (max-width: 992px) {
  .head-title { font-size: 2.5em; }
}

@media only screen and (max-width: 768px) {
  .head-title { font-size: 2em; }
  .p-main { font-size: 1.5em; }
  .skills-list span { display: inline-block; }
}

@media only screen and (max-width: 576px) {
  .head-title { font-size: 1.8em; }
  .head-title span { display: none; }

  #grid { padding: 10px; }

  .area-icn-big {
    display: none;
  }
  .area-icn-sml {
    display: inline-block;
  }
  .proj-img-div img {
    max-width: 100%;
  }
}
